<configuration debug="true" scan="true" scanPeriod="15 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}  [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <property name="LOG_FILE" value="LogFile" />
    <property name="LOG_DIR" value="./var/logs/application" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <file>${LOG_DIR}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyy/MM}/${LOG_FILE}.gz</fileNamePattern>

            <!-- keep 1 days' worth of history capped at 3GB total size -->
            <maxHistory>1</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}  [%thread] %-5level %logger{35} - %msg IP_ADDRESS:%X{req.remoteHost} REQUEST_URI:%X{req.requestURI} %n</pattern>
        </encoder>
    </appender>

    <logger name="razarm.tosan.Main"  level="WARN"/>

    <logger name="razarm.tosan.security.controller.AuthController" level="info" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="razarm.tosan.security.jwt.JwtUsernameAndPasswordAuthenticationFilter" level="info" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="razarm.tosan.security.config.AppSecurityConfig" level="info" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>