.messages-error {
  margin-top: 40px;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: rgba(255, 0, 0 , 0.2);
}
.messages-success {
  margin-top: 40px;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: rgba(113, 255, 129, 0.2);
}

.error {
  width: 100%;
  padding: 15px 12px;
  color: red;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
}
.success {
  width: 100%;
  padding: 15px 12px;
  color: green;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
}
.message {
  flex: 1;
  text-align: center;
}
.close {
  cursor: pointer;
  margin-right: 55px;
}
.close:after{
  font-size: 30px;
  font-weight: 600;
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
}
.close:hover {
  opacity: 0.6;
}


.red {
  color: rgba(255, 0, 0, 0.85);
}
.green {
  color: green;
}
