
<div class="tours" >
    <div class="tours__header" [style.padding]="xSmall ? '0 12px' : '0'">
      <div class="tours__title"> <h2>Tours</h2></div>
      <button class="btn-add" routerLink="/tour/save">Add Tour</button>
    </div>
    <mat-divider style="width: 100%; margin: 0px 0 6px 0"></mat-divider>
  <app-tours-sort *ngIf="!xSmall"></app-tours-sort>
<!--    <div class="sorts" *ngIf="!xSmall"  >-->
<!--      <div class="sort__item-wrapper">-->
<!--        <a  class="sort__item"  [class.active]="selectedItem == 'LOWEST_PRICE'" (click)="sortByLowestPrice()" >Lowest Price</a>-->
<!--      </div>-->
<!--      <div class="sort__item-wrapper">-->
<!--        <a class="sort__item" [class.active]="selectedItem == 'HIGHEST_PRICE'" (click)="sortByHighestPrice()">Highest Price</a>-->
<!--      </div>-->
<!--      <div class="sort__item-wrapper">-->
<!--        <a class="sort__item" [class.active]="selectedItem == 'HIGHEST_RATE'" (click)="sortByHighestRating()" >Highest Rating</a>-->
<!--      </div>-->
<!--      <div class="sort__item-wrapper">-->
<!--        <a class="sort__item " [class.active]="selectedItem == 'LOWEST_RATE'" (click)="sortByLowestRating()">Lowest Rating</a>-->
<!--      </div>-->
<!--    </div>-->
  <div *ngIf="xSmall" class="mobile-actions">
    <a class="action__item" (click)="showFilters()">Filters</a>
    <a class="action__item" (click)="showCategories()">Categories</a>
  </div>
    <div >
        <div id="tours-wrapper" >

          <app-list-with-displacement *ngIf="currentTourList as tours" [items]="tours" [compare]="compare " (onAnimationend)="onAnimationend()" (onAnimationstart)="onAnimationstart()" >
           <div *ngFor="let tour of tours; let i = index"     appListItem class="tour__item-wrapper" [index]="i" >
             <app-tour-item [tour]="tour"  ></app-tour-item>
           </div>
          </app-list-with-displacement>


        </div>
    </div>

  </div>

