.server-container {
    padding: 6px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 191, 255, 0.3);
    border-radius: 6px;
}

.header {
    font-size: 28px;
    font-weight: 700;
}

.server-tours {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.tour__wrapper {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: center;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 3px;
    margin: 5px;
}


.tour__item {
    height: 90px;
    /*width:  250px;*/
    padding: 7px 12px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.tour__wrapper:hover {
    background-color: rgba(0, 113 , 194, 0.5);
    color: white;
    border-radius: 5px;
}
.app-item__body {
    height: 85px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.app-item__photo{
    height: inherit;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.3);
}
.app-item__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}
.app-item__header {
    font-size: 20px;
    font-weight: 600;
}
.app-item__description {
    font-size: 14px;
    font-weight: 400;
}
.app-item__review{
    padding: 4px 6px 4px 15px;
    height: inherit;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.app-item__rate{
    font-size: 19px;
    font-weight: bold;
    color: #0071c2;
}
.app-item__price{
    font-size: 15px;
    font-weight: bold;
    color: green;
}
.app-item__footer {
    margin-top: 12px;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    padding: 8px;
    display: flex;
    flex-direction: row-reverse;
}

.border-green {
    border: 3px solid rgba(0, 128, 0, 0.65)!important;
}