.json-container {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
.header {
    font-size: 28px;
    font-weight: 700;
}
.tours-json {
    padding: 6px 8px;
    background-color: rgba(211, 211, 211, 0.2);
    margin-right: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tour-json__wrapper {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: center;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 3px;
    margin: 5px;
    max-height: 310px;
}
.tour__checkbox {
    align-self: center;
    cursor: pointer;
}

.tour-json__item {
    min-height: 123px;
    width:  320px;
    padding: 7px 12px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.tour-json__wrapper:hover {
    background-color: rgba(0, 113 , 194, 0.5);
    color: white;
    border-radius: 5px;
}
.item__body {
    height: 85px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.item__photo{
    height: inherit;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.3);
}
.item__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}
.item__header {
    font-size: 20px;
    font-weight: 600;
}
.item__description {
    font-size: 14px;
    font-weight: 400;
}
.item__review{
    padding: 4px 6px 4px 15px;
    height: inherit;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item__rate{
    font-size: 19px;
    font-weight: bold;
    color: #0071c2;
}
.item__price{
    font-size: 15px;
    font-weight: bold;
    color: green;
}
.item__footer {
    width: 100%;
    margin-top: 12px;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    padding: 8px;
    display: flex;
    flex-direction: column;
}
.item__expand-arrow{
    cursor: pointer;
    height: 6px;
    width: 6px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.item__expand-arrow:hover {
    border-color: white;
}

.item__expand-wrapper {
    animation-name: expanding;
    animation-duration: 3s;
    /*min-height: 85px;*/
}
.item__expand {
    cursor: initial !important;
    margin-right: 6px;
    width: 100%;
    max-height: 150px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 6px;
    overflow-y: auto;
    display: flex;
    background-color: orange;
    color: white;
}
.hide {
    display: none !important;
}

.disable {
    cursor: not-allowed;
    opacity: 0.6;
}

.border-orange {
    border: 2px solid orange !important;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.show-animation {
    animation-name: expanding;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

}

@keyframes expanding {
    from {
        height: 0;
        overflow-y: hidden;
    }
    to {
        height: 140px;
        overflow-y: hidden;
    }
}