<div class="accommodation">
  <div class="accommodation__header">Hotel Twin Double room</div>
  <mat-divider style="width: 100%"></mat-divider>
  <div class="accommodation_content">
    <div class="accommodation__field" style="color: orange">
      <label>Price: </label>
      {{accommodationOrder?.accommodation?.price}}
    </div>
    <div class="accommodation__field" style="color: dodgerblue">
      <label>Discount: </label>
      {{accommodationOrder?.discount}}
    </div>
  </div>
  <div class="accommodation__address">
    <div class="header">Address Information</div>
    <mat-divider style="width: 100%;border-color: rgba(0, 0, 0, 0.4)"></mat-divider>
    <div class="street">
      <label>Street: </label>
      {{accommodationOrder?.accommodation?.address?.street}}
    </div>
    <mat-divider style="width: 100%; border-color: rgba(128, 128, 128, 0.1)"></mat-divider>
   <div class="address__fields">
     <div class="address__field">
       <label>Country: </label>
       {{accommodationOrder?.accommodation?.address?.city?.country?.name}}

     </div>
     <div class="address__field">
       <label>Country Code: </label>
       {{accommodationOrder?.accommodation?.address?.city?.country?.countryCode}}

     </div>
     <div class="address__field">
       <label>City: </label>
       {{accommodationOrder?.accommodation?.address?.city?.name}}
     </div>
     <div class="address__field">
       <label>Zip Code: </label>
       {{accommodationOrder?.accommodation?.address?.city?.zipCode}}

     </div>
   </div>
  </div>

</div>
