<div class="accommodation">
  <div class="accommodation__header">Hotel Twin Double room</div>
  <mat-divider style="width: 100%"></mat-divider>
  <div class="accommodation_content">
    <div class="accommodation__field" style="color: orange">
      <label>Price: </label>
      1222
    </div>
    <div class="accommodation__field" style="color: dodgerblue">
      <label>Discount: </label>
      3
    </div>
  </div>
  <div class="accommodation__address">
    <div class="header">Address Information</div>
    <mat-divider style="width: 100%;border-color: rgba(0, 0, 0, 0.4)"></mat-divider>
    <div class="street">
      <label>Street: </label>
      eqklwmelqkmelkqlkweknqenqwenkqjwenqwojenqowenoqneoqowneoinqwniqiownenoiqoniweonqwoneq
      eqwekomqwopeqpwoepoqwopeqowepojqwopeoqnenqponepnwqpneonwopneqnonepowpnoeqpno
    </div>
    <mat-divider style="width: 100%; border-color: rgba(128, 128, 128, 0.1)"></mat-divider>
   <div class="address__fields">
     <div class="address__field">
       <label>Country: </label>
       Ukraine
     </div>
     <div class="address__field">
       <label>Country Code: </label>
       0163
     </div>
     <div class="address__field">
       <label>City: </label>
       Kiev
     </div>
     <div class="address__field">
       <label>Zip Code: </label>
       09321
     </div>
   </div>
  </div>

</div>
