
.container {
  /*position: fixed;*/
  /*z-index: 501;*/
  /*width: 100vw;*/
  /*height: 100vh;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*background-color: transparent;*/
}
.modal {
  position: fixed;
  z-index: 2500;
  top: 35vh;
  left: 35vw;
}
