.wrapper {
  position: absolute;
  display: flex;
  z-index: -1;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vw;
  top: 0;
  left: 0;
}
.container {
  /*position: fixed;*/
  /*z-index: 501;*/
  /*width: 100vw;*/
  /*height: 100vh;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*background-color: transparent;*/
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 70%;*/
  width: 100%;
  top: 35vh;
  left: 0;
}

.modal {
  position: fixed;
  z-index: 2501;
  /*top: 35vh;*/
  /*left: 35vw;*/
}
