<form >

  <div class="form__header">
    <div class="form__title">Tourism Manager</div>
  </div>
  <mat-divider style="width: 100%; margin: 15px 0 8px 0"></mat-divider>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput type="text">
  </mat-form-field>

  <mat-form-field>
    <mat-label>National Id</mat-label>
    <input matInput type="text">
  </mat-form-field>
</form>
