<form [formGroup]="form"  (ngSubmit)="onSubmit()">

  <div class="form__header">
    <div class="form__title">Tourism Manager</div>
  </div>
  <mat-divider style="width: 100%; margin: 15px 0 8px 0"></mat-divider>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput type="text" formControlName="phone">
  </mat-form-field>

  <mat-form-field>
    <mat-label>National Id</mat-label>
    <input matInput type="text" formControlName="nationalId">
  </mat-form-field>
  <div class="mat-form-field">
    <app-address-form formControlName="address"></app-address-form>
  </div>
  <div class="actions">
    <button  type="button" class="btn-prev"  (click)="onBack()">Back</button>
    <button  type="submit" class="btn-next"   >Next</button>
  </div>
</form>
