

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 50px;
  flex-wrap: wrap-reverse;
  column-gap: 25px;
  row-gap: 25px;
}

.travelers {
  flex: 2;
  min-width: 650px;
  min-height: 650px;
  background-color: white;
  padding: 20px 30px;
}
.travelers th {
  font-weight: 600;
}

.travelers form {
  margin-top: 8px;
  border-radius: 3px;
  padding: 15px 12px;
  min-width: 350px;
  max-width: 80%;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-wrapper button {
  min-width: 120px;
  width: 30%;
}
.tour-info{
  flex: 1;
  align-self: flex-end;
  min-width: 400px;
  max-width: 500px;
  background-color: white;
}

.field {
  display: block;
}

.app-icon {
  cursor: pointer;
}
.app-icon:hover {
  opacity: 0.9;
}

