<app-sidebar></app-sidebar>
<app-modal-background></app-modal-background>
<app-navbar></app-navbar>
<app-loading></app-loading>
<div id="background"> </div>
  <div class="container">
    <app-messages></app-messages>
    <app-breadcrumb [items]="menuItems"></app-breadcrumb>
    <router-outlet></router-outlet>
  </div>






<!--<app-list-displacement [items]="items"></app-list-displacement>-->
<!--<app-list-with-displacement [items]="items" >-->
<!--  <div *ngFor="let it of items; let i = index"   appListItem [index]="i">-->
<!--    <div style="height: 80px; width: 150px; background-color: orange; color: white; display: flex;justify-content: center;align-items: center">-->
<!--      {{it}}-->
<!--    </div>-->
<!--  </div>-->
<!--</app-list-with-displacement>-->

