<div class="filters">
  <div i18n class="filters__header" >Filter By:</div>
  <hr />
  <div class="filter-segment">
    <div i18n class="filter-segment__header" >By Category</div>
    <div class="filter-segment__body" (click)="checkIfDisabled($event)">
      <div  class="filter-segment__item"><label i18n><input type="checkbox" #village name="village" (change)="categoryFiltersHandler(village)" >Village</label></div>
      <div  class="filter-segment__item"><label i18n><input type="checkbox" #desert name="desert" (change)="categoryFiltersHandler(desert)" >Desert</label></div>
      <div  class="filter-segment__item"><label i18n><input type="checkbox" #foreign name="foreign" (change)="categoryFiltersHandler(foreign)" >Foreign</label></div>
      <div  class="filter-segment__item"><label i18n><input type="checkbox" #city name="city" (change)="categoryFiltersHandler(city)" >City</label></div>
    </div>
  </div>
  <div class="filter-segment">
    <div i18n class="filter-segment__header"  >Review Score</div>
    <div class="filter-segment__body" (click)="checkIfDisabled($event)">
      <div  class="filter-segment__item"><label i18n><input type="checkbox" #superb name="superb" (change)="reviewFiltersHandler(superb)" >Superb: 9+</label></div>
      <div  class="filter-segment__item"><label i18n><input type="checkbox" #verygood name="verygood" (change)="reviewFiltersHandler(verygood)" >Very good: 8+</label></div>
      <div  class="filter-segment__item"><label i18n><input type="checkbox" #good name="good" (change)="reviewFiltersHandler(good)" >Good: 7+</label></div>
      <div  class="filter-segment__item"><label i18n><input type="checkbox" #pleasant name="pleasant" (change)="reviewFiltersHandler(pleasant)"  >Pleasant: 6+</label></div>
    </div>
  </div>
</div>
