@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    min-height: 100vh;
}
#blue_segment {
    background-color: #47ccde;
    height: 30vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.container {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}
