body{
    margin: 0;
}



.container {
    display: block;
    padding: 50px 100px;
}
.header {
    display: block;
    text-align: center;
    margin-bottom: 45px;
    font-size: 30px;
    font-weight: 700;
}
.booking__container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

.traveler{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*max-width: 700px;*/
}
.form {
    padding-bottom: 200px;
}
.form__header {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 16px;
}
.fields {
    min-width: 450px;
    margin-bottom: 20px;
}
.fields__item{
    padding: 9px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.fields__item label{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;
}
.fields__item input{
    width: 100%;
    max-width: 450px;
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0.4);
    padding: 9px 12px;
    border-radius: 3px;
}
.fields__item textarea {
    max-lines: 3;
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0.4);
    border-radius: 3px;
}
.required {
    margin-left: 4px;
    color: #c00;
}
.fields__item input:focus, .fields__item textarea:focus{
    border: 2px solid #0071c2;;
}
.segment{
    width: 100%;
    margin-bottom: 16px;
}
.segment__header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}
.segment__description {font-size: 16px;}
.submit-button {
    width: 100%;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    color: white;
    background-color: #0071c2;
    padding: 10px 24px;
    border-radius: 4px;
    border: 2px solid white;
    margin-top: 8px;
}

.tour {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    padding-top: 6px;
}
.tour__details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.tour__photo{}
.tour__image  {
    max-width: 100px;
}
.tour__body {
    padding: 8px;
    font-size: 16px;
}
.tour__header {
    font-size: 18px;
    font-weight: 600;
}
.price {
    font-size: 17px;
    font-weight: 600;
}
.divider { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    padding: 0; }
.ticket {
    margin:  0 16px 0 16px;
    width: 100%;
}
.ticket__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0  16px 0 ;
}
.ticket__total{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

