body{
    margin: 0;
}
#blue_segment {
    background-color: rgba(25, 252, 0, 0.9);
    height: 30vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
hr {
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    padding: 0;
}
.container {
    padding: 80px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    max-width: 750px;
    border-radius: 7px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.8);
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.info {
    margin-bottom: 30px;
}
.booking__header {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding: 12px;
}
.booking__description {
    font-size: 17px;
}
.booking__sub {
    font-size: 14px;
    font-weight: lighter;
}

.details {
    width: 100%;
    margin-bottom: 16px;
}
.details__header {
    font-size: 16px;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.8);
}
.details__body {
    width: 100%;
    padding: 6px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking__name {
    flex: 1;
    font-size: 14px;
    font-weight: 600;
    word-wrap: normal;
}
.booking__locations {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: center;*/
}
.location__item {
    display: flex;
    align-items: center;
}
.booking__source {
    font-size: 14px;
    font-weight: 600;
    padding-right: 6px;
}
.booking__dest {
    font-size: 14px;
    font-weight: 600;
    padding-left: 6px;
}
.booking__time {
    font-size: 14px;
    color: rgba(128, 128, 128, 0.8);
}


.travelers {
    width: 100%;
}
.travelers hr {
    border-top: 1px solid rgba(128, 128, 128, 0.15);
}

.travelers__header {
    font-size: 16px;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.8);
}
.travelers__body {
    padding: 6px 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.travelers__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.traveler__name {
    flex: 1;
    font-size: 15px;
    font-weight: 600;
}
.traveler__contact {
    flex: 1;
}
.traveler__email {
    padding: 6px 3px;
}
.traveler__phone {
    padding: 6px 3px;
}
