body{
    margin: 0;
}
#blue_segment {
    background-color: #47ccde;
    height: 30vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: fixed ;
}
.container {
    padding: 130px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: white;
    max-width: 750px;
    padding: 25px 18px;
    box-shadow: 1px 1px 8px rgba(128, 128, 128, 0.85);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__header {
    flex: 1;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.form__input {
    flex: 1;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;

}

.form__input label {
    font-size: 17px;
    font-weight: 600;
}
.form__input input {
    width: 80%;
    min-width: 300px;
    padding: 10px 15px;
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0.15);
    border-radius: 5px;
}
.form__input input:hover, .form__input input:focus {
    border: 2px solid rgba(30, 144, 255,0.7);
}

.submit-btn {
    cursor: pointer;
    width:90%;
    min-width: 300px;
    padding: 13px 16px;
    border: none;
    outline: none;
    background-color: rgba(30, 144, 255, 1);
    border-radius: 6px;
    color: white;
    margin-bottom: 12px;
}
.submit-btn:hover {
    opacity: 0.85;
}



