<div class="container">

  <form  (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">

    <div class="form-field">
      <h2 class="header" i18n>Login</h2>
      <hr/>
      <label i18n>Username: </label>
      <input type="text"  name="username" formControlName="username">
      <div i18n class="error-segment" *ngIf="username?.getError('required') && (username?.touched || username?.dirty)">
        Username is required.
      </div>
      <div i18n class="error-segment" *ngIf="username?.getError('minlength') && (username?.touched || username?.dirty)">
        Username must be at least 3 characters long.
      </div>
      <div i18n class="error-segment" *ngIf="username?.getError('maxlength') && (username?.touched || username?.dirty)">
        Maximum 20 characters.
      </div>
      <div i18n class="error-segment" *ngIf="username?.getError('pattern') && (username?.touched || username?.dirty)">
        Username should start with alphabetic characters.
      </div>
    </div>
    <div  class="form-field">
      <label i18n>Password: </label>
      <input type="password" name="password" formControlName="password">
      <div i18n class="error-segment" *ngIf="password?.getError('required') && (password?.touched || password?.dirty)">
        Password is required.
      </div>
      <div i18n class="error-segment" *ngIf="password?.getError('minlength') && (password?.touched || password?.dirty)">
        Password must be at least 4 characters long.
      </div>
      <div i18n class="error-segment" *ngIf="password?.getError('maxlength') && (password?.touched || password?.dirty)">
        Password 20 characters.
      </div>

    </div>
    <div i18n class="description">
      New User? <a routerLink="/register" > Create an account</a>
    </div>
    <div i18n class="error-segment" *ngIf="authForm.errors && authForm.errors['credentials']">
         {{errorMessage}}
    </div>
    <button i18n type="submit" >Login</button>
  </form>
</div>
