
<div class="dropdown">
  <input type="text" class="dropdown__input"  (keydown)="onKeyDown($event)"  [value]="(selectedValue | async) ?? initialValue" [placeholder]="placeholder"
         (click)="showOptions()" (input)="onInputChange()" #input>

  <div class="dropdown__options" *ngIf="isOpen$ | async" #options>
    <div class="dropdown__option"  *ngFor="let option of filteredOptions; let i =index" #element
         (mouseenter)="onOptionMouseenter(i)"

         [class.highlight]="(i == highlightedOption) && setHighlightedEl(element)"
         (click)="setValue(option)">{{option}}
    </div>
  </div>
</div>

