.background {
  position: fixed;
  z-index: 499;
  width: 100vw;
  height: 100vh;
}

.dropdown {
  position: relative;
  /*z-index: 600;*/
  min-width: 150px;
  /*width: 250px;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
input {
  outline: none !important;
  border: none !important;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 6px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3) !important;
}
input:hover, input:focus {
  color: black !important;
  border-bottom: 1px solid dodgerblue !important;
}
input:focus {
  z-index: 600;
}
.dropdown__options {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  background-color: white;
  top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dropdown__option {
  width: 100%;
  padding: 8px;
  background-color: white;
  /*border-bottom: 1px solid rgba(128, 128, 128, 1);*/
}
.dropdown__option:hover {
  cursor: pointer;
  background-color: lightblue;
  color: white;
}

.highlight {
  background-color: lightblue;
  color: white;
}

.hide {
  display: none;
}
