
<div class="container">
  <div class="list" >
   <ng-container *ngIf="prevItemsIndex.length && displacement != 'start' ">
     <div class="list__item" *ngFor="let item of viewItems;" [innerHTML]="item.nativeElement.innerHTML | safeHtml"></div>
   </ng-container>
    <div class="list__item" #listItem
         [class.hide]="prevItemsIndex.length && displacement != 'start'  "
         *ngFor="let item of itemsEl; let i = index"
         [innerHTML]="item.el.nativeElement.innerHTML  | safeHtml"
         routeTransformer
         [@displacement]="{ value: displacement,
         params: {heightSize: (displacement == 'start' ? -getOffsetDiff(i)  : 0)  , scaleP: getScale(i) || 1}}"
         (@displacement.start)= "onDisplacementStart($event)"
         (@displacement.done)="onDisplacementDone($event)">

    </div>
  </div>
</div>
