<form [formGroup]="form">

  <div class="form__header">
    <div class="form__title">Accommodation</div>
  </div>
  <mat-divider style="width: 100%; margin: 15px 0 8px 0"></mat-divider>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>

  <mat-form-field style="width: 250px">
    <mat-label>Type</mat-label>
    <select matNativeControl style="width: 250px !important;" required formControlName="type">
      <option value="HOTEL">Hotel</option>
<!--      <option value="HOSTEL">Hostel</option>-->
<!--      <option value="APARTMENT">Apartment</option>-->
    </select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Discount</mat-label>
    <input matInput type="number" formControlName="discount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput type="number" formControlName="price">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Check In</mat-label>
    <input matInput type="datetime-local" formControlName="checkIn">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Check Out</mat-label>
    <input matInput type="datetime-local" formControlName="checkOut">
  </mat-form-field>

</form>
