<form >

  <div class="form__header">
    <div class="form__title">Accommodation</div>
  </div>
  <mat-divider style="width: 100%; margin: 15px 0 8px 0"></mat-divider>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Type</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Discount</mat-label>
    <input matInput type="number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput type="number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Check In</mat-label>
    <input matInput type="date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Check Out</mat-label>
    <input matInput type="date">
  </mat-form-field>

</form>
