.profile{
  padding: 0 ;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;


  .close {
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    &:hover {
      opacity: 0.85;
    }
  }

  .profile__header {
    font-size: 17px;
  }
  .profile__description {
    font-size: 14px;
    color: rgba(128, 128, 128, 0.7);
    word-break: break-word;
  }
  .profile__img-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .profile__img {
      width: 250px;
      img {
        width: 250px;
        cursor: pointer;
        &:hover {
          opacity: 0.85;
        }
      }
      button {
        cursor: pointer;
        width: 100%;
        color: #1368fa;
        padding: 8px 12px;
        border-radius: 4px;
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.7);
        &:hover {
          background-color: rgba(128, 128, 128 ,0.4);
        }
      }
    }
  }

}
