<div class="tour" routeTransformer >
  <div class="tour__photo">
<!--    <div *ngIf="loadingImage " style="width: 200px; height: 120px; ">-->
<!--      <app-card-placeholder></app-card-placeholder>-->
<!--    </div>-->
    <img  [alt]="tour.name" loading="eager"
           src="{{tour.imgUrl}}" >
  </div>
  <div class="tour__container">
    <div class="tour__content">
      <div class="tour__content-main">
        <div class="tour__content-header">{{tour.name}}</div>
        <div class="tour__content-text">
          {{tour.description}}
        </div>
      </div>
      <div class="tour__content-review">
        <div class="tour__score">
          Very Good
          <div class="label blue" >
            {{tour.rating || 0}}
          </div>
        </div>
        <div class="tour__price">
          Price From
          <div class="currency">{{tour.price | currency:"IRR ":"symbol" }}</div></div>
      </div>
    </div>
    <div class="tour__container-book" >
      <a class="blue-btn"  [routerLink]="['/booking']"  [queryParams]="{'tour-id': tour?.id  }"     >Book Now</a>
    </div>
  </div>
</div>
