@import "flex";

.form {
  box-sizing: border-box;
  width:  100%;
  height:  100%;
  padding: 30px 30px;
  @extend  .flex-column-start;
  row-gap: 3px;
  .mat-form-field {
    width: inherit;
    input {
      box-sizing: border-box !important;
      width: 100%;
      padding: 4px 7px;
    }
  }
  .form__header {
    width: 100%;
    .form__title {
      font-size: 19px;
      font-weight: 600;
    }
  }

}
