//$colors: (main: dodgerblue, secondary: #ffb700 ,hover: rgba(128, 128, 128, 0.2));
$colors: (main: #551A8b, secondary: #efedf0, iconColor: #ff9900 ,hover: rgba(128, 128, 128, 0.2));
@use "flex";



.stepper{
  @extend .flex-column-start;
  align-items: center;
  .step__headers {
    padding: 15px 40px;
    background-color: transparent;
    @extend  .flex-row-center;
    .step__header {
      position: relative;
      padding: 8px 40px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      row-gap: 4px;
      //border-bottom: 4px solid rgba(128, 128, 128, 0.4);
      user-select: none;
      &:hover {
        background-color: map-get($colors, hover);
        opacity: 0.85;
      }
      .step__border{
        border-bottom: 4px solid rgba(128, 128, 128, 0.4);
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
      }
      &.active {
        //border-bottom: 4px solid map-get($colors, main);
        .step__border{
          border-bottom: 4px solid map-get($colors, main);
        }
      }
      .step__icon {
        display: flex;
        justify-content: center;
        .mat-icon {
          font-size: 28px;
        }
        width: 100%;
      }
      .step__title {
        font-size: 13px;
        font-weight: 600;
      }
    }
  }
  .step__contents {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 500px;
    .step__content {
      border-radius: 4px;
      min-width: 600px;
      width: 75%;
      min-height: 500px;
      height: 100%;
      //background-color: lighten(map-get($colors, secondary), 47%) ;
      background-color: map-get($colors, secondary);
      @media (max-width: 600px) {
        min-width: 300px;
        width: 100%;
      }
    }
  }
}



@mixin stepper($iconSize, $iconActiveColor, $iconColor, $contentSize) {
  .stepper{
    @extend .flex-column-start;
    .step__headers {
      width: 100%;
      padding: 15px 40px;
      background-color: transparent;
      @extend  .flex-row-center;
      column-gap: 15px;
      .step__header {
        padding: 4px 25px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 4px;
        color: $iconColor;
        border-bottom: 4px solid transparent;
        border-radius: 3px;
        user-select: none;
        &:hover {
          background-color: map-get($colors, hover);
          opacity: 0.85;
        }
        &.active {
          border-bottom: 4px solid $iconActiveColor;
          color: $iconActiveColor;
        }
        .step__icon {
          display: flex;
          justify-content: center;
          .mat-icon {
            font-size: $iconSize;
          }
          width: 100%;
        }
        .step__title {
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
    .step__contents {
      width: 100%;
      display: flex;
      justify-content: center;
      min-height: 500px;

      .step__content {
        min-width: 600px;
        width: $contentSize;
        min-height: 500px;
        height: 100%;
        background-color: map-get($colors, secondary);
        @media (max-width: 600px) {
          min-width: 300px;
          width: 100%;
        }
      }
    }
  }
}
