<div class="container">

<!--  <div class="categories">-->
<!--    <div class="category__item" >Our Top Picks</div>-->
<!--    <div class="category__item" >Lowest Price First</div>-->
<!--    <div class="category__item" >Star rating and price</div>-->
<!--    <div class="category__item" >Top Reviewed</div>-->
<!--  </div>-->
  <div class="body">
    <div class="filters-wrapper">
      <app-tours-filters></app-tours-filters>
    </div>
    <div class="tours">
      <app-tour-list></app-tour-list>
    </div>
  </div>


<!--  <button type="button" class="error-btn" (click)="showError()">Show Error</button>-->

</div>


