<form >
  <div class="form__header">
    <div class="form__title">Plan Information</div>
  </div>
  <mat-divider style="width: 100%; margin: 15px 0 8px 0"></mat-divider>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Start Time</mat-label>
    <input matInput type="date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Arrival Time</mat-label>
    <input matInput type="date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Source</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Destination</mat-label>
    <input matInput type="text">
  </mat-form-field>

</form>
