
<div class="container">
  <div class="tour__photo">
      <img   [src]="tour?.imgUrl" />
  </div>
  <div class="tour__details">
    <div class="tour__header">{{tour?.name}} </div>
    <mat-divider style="margin: 12px 4px"></mat-divider>
    <div class="tour__content">
      <div class="tour__description">
        <label>Descriptions :</label>
        {{tour?.description}}ewqqwepoqm eqinenipqwnpeiqipwnenpiqweinqpneweqwkemqwkmeqk
      </div>
      <div class="tour__date">
        <label>Date :</label>
        {{tour?.date | date}}
      </div>
      <div class="tour__review">
        <div class="tour__price">
          <label>Price: </label>
          {{tour?.price ?? 0.0}}
        </div>
        <div class="tour__rate">
          <label>Rate: </label>
          {{tour?.rating ?? 0.0}}
        </div>
      </div>
    </div>
    <div class="tour__orders">
      <mat-tab-group style="margin-top: 15px">
        <mat-tab label="Accommodation">
          <app-accommodation [accommodationOrder]=" schedulePlans[0]?.accommodationOrder"></app-accommodation>
        </mat-tab>
        <mat-tab label="Vehicles">
          <app-vehicle [vehicleOrders]=" schedulePlans[0]?.vehicleOrders" ></app-vehicle>
        </mat-tab>
        <mat-tab label="Foods">
          <app-food [foodOrders]="schedulePlans[0]?.foodOrders"></app-food>
        </mat-tab>
        <mat-tab label="Activities">
          <app-activity [activities]="schedulePlans[0]?.activities"></app-activity>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
