<div class="navbar">
  <div class="navbar-left">
    <div *ngIf="signedin$ | async" class="hamburger navbar__item"  (click)="showSidebar()">
      <div  ></div>
      <div ></div>
      <div ></div>
    </div>
    <div routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="navbar__item app-icon ">
      <img  class="icon invert  " src="assets/images/touricon.svg" alt="Bus" />
      <b i18n>TourArm</b>
    </div>
  </div>
  <div class="navbar-right">
    <ng-container *ngIf="locale == 'en' || locale == 'fa'" >
      <a class="navbar__item" style="color: white; margin:  6px; text-decoration: none" [href]="locale == 'en' ? '/fa' : '/en'">{{locale == 'en' ? 'FA' : 'EN'}}</a>
    </ng-container>
<!--    <select class="navbar__item" style="width: 70px; margin: 0 4px; background-color: transparent; color: white; border: none; display: flex; justify-content: center; align-items: center" >-->
<!--      <option selected style="color: black"  ><a href="/en">EN</a></option>-->
<!--      <option style="color: black" ><a href="/fa">FA</a></option>-->
<!--    </select>-->
    <ng-container *ngIf="signedin$ | async" >
      <a routerLink="/profile" routerLinkActive="active" class="navbar__item" i18n>Profile</a>
      <a routerLink="/signout" routerLinkActive="active" class="navbar__item" i18n>Signout</a>
    </ng-container>
    <ng-container *ngIf="!(signedin$ | async)">
      <a routerLink="/register" routerLinkActive="active" class="navbar__item" i18n>Register</a>
      <a routerLink="/signin" routerLinkActive="active" class="navbar__item" i18n>Signin</a>
    </ng-container>
  </div>

</div>
