.navbar {
  margin: 0;
  padding: 0 15px 6px 25px;
  width: 100vw;
  background-color: rgba(55, 55, 69, 1);
  position: fixed;
  z-index: 2000;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.hamburger div{
  width: 20px;
  height: 3px;
  background-color: white;
  margin-top: 4px;
}
.app-icon {
  display: flex;
  align-items: center;
}
.icon {
  width: 37px;
  height: 33px;
}
.invert { filter: invert(100%);  }

.header {
  font-size: 21px;
  font-weight: 700;
}
.navbar-left {
  flex: 1;
  padding-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar-right {
  flex: 1;
  padding-right: 8px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.navbar-right .navbar__item {
  display: flex;
  align-items: flex-end;
}

.navbar__item {
  height: 47px;
  display: flex;
  align-items: center;
  padding: 6px 12px ;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-bottom: 3px solid transparent;
}
.navbar__item:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.active {
  border-bottom: 3px solid white;
}
